<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Quote</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
<div class="main-box">
    <section class="cards">
      <% for (var i =1; i <= 60;  i++ ) { %>
        <div class="cards__single">
          <div class="cards__front">
            <img
              class="cards__image"
              src="https://www.datenightquestions.com/friends-back.ceda47b1.svg"
              alt="PHOTO"
            />
          </div>
          <div class="cards__back">
            <img class="img-back-card" src="https://www.datenightquestions.com/friends-front.18f70fe3.svg" alt="img-back">
            <h2 class="cards__quote back-text"></h2>
          </div>
        </div>
      <% } %>
    </section>
  </div>
   
    
    <script>
      let quotes = document.querySelectorAll(".cards__quote");
      const cards = document.querySelectorAll(".cards__single");
      function flipCard() {
        this.classList.toggle("flip");
      };
      fetch("https://type.fit/api/quotes")
        .then(function (response) {
          return response.json();
        })
        .then(function (data) {
          // console.log(data);
          cards.forEach((card) => 
          card.addEventListener("click", () => {
            let randomNumber = Math.floor(Math.random() * 251);
            quotes.forEach((quote) => quote.innerHTML = data[randomNumber].text);
          }));
        })
      cards.forEach((card) => card.addEventListener("click", () => {
        card.className = "cards__single move-card";
      }));
      cards.forEach((card) => card.addEventListener("click", flipCard));
    </script>

</body>
</html>